
1 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "res\\astral.ico"
2 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "res\\bg.bmp"
3 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "res\\checkoff.bmp"
4 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "res\\checkon.bmp"
5 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "res\\quitoff.bmp"
6 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "res\\quiton.bmp"